* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background: #F6F6F6;

}

header {
    background: transparent;
    position: fixed;
    margin: -240px 0px 0px 28px;
    width: 1440px;
}

nav {
    background: transparent;
    justify-content: space-between;
    display: flex;
    width: 1200px;
    height: 63px;
    margin-top: 27px;
    margin-left: 120px;
    margin-right: 120px;
}

.profile_pic {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 4px 4px 100px 20px rgba(0, 0, 0, 0.25);
    border-radius: 180px;
    transition: transform .1s ease-in;
}

.profile_pic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.profile_pic:active {
    transform: scale(0.95);
}

#sup {
    font-size: 16px;
    padding: 8px 0px 0px 8px;
    margin: 10px 0px 0px 4px;
    position: absolute;
    justify-content: center;
    background-color: #000000bd;
    color: #FFFFFF;
    width: 35px;
    height: 25px;
    border-radius: 100px;
    z-index: -1;
    transition: transform 1s, opacity 3s;
}

.profile_pic img {
    background: none;
    padding-top: 8px;
    padding-left: 8px;
    width: 45px;
    height: 38px;
}

.theme-switcher {
    display: flex;
    align-items: center;
    position: relative;
    width: 183px;
    height: 63px;
    background: rgba(246, 246, 246, 0.1);
    box-shadow: 4px 4px 80px 20px rgba(0, 0, 0, 0.1);
    border-radius: 500px;
    cursor: pointer;
    overflow: hidden;
}

#work {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    top: 20px;
    left: 25px;
}

#play {
    position: absolute;
    top: 20px;
    left: 112px;
    font-size: 18px;
    color: #000000;
}

.toggler {
    margin: 0px 0px 0px 5px;
    width: 90px;
    height: 50px;
    border-radius: 200px;
    box-shadow: 4px 4px 100px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.menu {
    width: 60px;
    height: 60px;
    left: 121px;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 100px 20px rgba(0, 0, 0, 0.25);
    border-radius: 180px;
    transition: transform .1s ease;
}

.menu:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.menu:active {
    transform: scale(0.95);
}

.line1 {
    margin: 22px 0px 0px 18px;
    width: 22px;
    height: 0px;
    border: 1px solid #707075;
}

.line2 {
    margin: 5.5px 0px 0px 18px;
    width: 22px;
    height: 0px;
    border: 1px solid #707075;
}

.line3 {
    margin: 5.5px 0px 0px 18px;
    width: 22px;
    height: 0px;
    border: 1px solid #707075;
}

.drop-menu {
    display: none;
    position: absolute;
    margin: 30px 0px 0px -200px;
    background-color: #FFFFFF;
    align-items: center;
    width: 250px;
    height: 128.4px;
    border-radius: 20px;

}

.drop-menu li {
    border-radius: 20px;
    padding: 25px 0px 0px 0px;
    list-style: none;
    background-color: #FFFFFF;
}

.drop-menu img {
    background-color: #FFFFFF;
    padding: 0px 12px 0px 30px;
}

.drop-menu li a {
    position: absolute;
    padding: 5px 0px 0px 0px;
    background-color: #FFFFFF;
    color: #000000;
    list-style: none;
    font-weight: 500;

}

.drop-menu li a:hover {
    font-weight: 600;

}

.section {
    display: block;
    align-items: center;
}

.intro {
    align-items: center;
    display: block;
    margin: 246px 500px 0px 510px;
}

.intro h1 {
    margin: 0px;
    width: 504px;
    height: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    /* identical to box height */
    background: linear-gradient(270deg, #0C1C32 0%, rgba(12, 28, 50, 0.47) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 1;
}

.location {
    padding: 24px 0px 24px 175px;
    display: flex;
    width: 150px;
    height: 25px;
}

.location img {
    margin-right: 4px;
    width: 24px;
    height: 24px;
}

#int {
    padding-top: 3px;
    color: #649A95;
}

#about {
    margin-left: -87px;
    width: 670px;
    height: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.075em;
    color: #649A95;
}

#expand {
    background: transparent;
    position: absolute;
    top: 138px;
    left: 430px;
    z-index: 2;
    width: 700px;
    height: 310px;
    transform: scale3d(1.5,1.5,1);
    transition: transform 0.5s, opacity 0.5s;
}

.particle-8 {
    position: absolute;
    top: 111px;
    right: 64px;
    width: 11px;
    height: 11px;
    border-radius: 3px;
    background-color: #323235;
    opacity: 0.15;
    transform: rotate(17deg);
    z-index: 5;
}

.particle-7 {
    position: absolute;
    top: 213px;
    right: 104px;
    width: 9px;
    height: 9px;
    border-radius: 2px;
    background-color: #323235;
    opacity: 0.2;
    transform: rotate(-14deg);
    z-index: 5;
}

.particle-6 {
    position: absolute;
    top: 240px;
    right: 310px;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #323235;
    opacity: 0.2;
    transform: rotate(14deg);
    z-index: 5;
}

.particle-5 {
    position: absolute;
    top: 203px;
    right: 500px;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #323235;
    opacity: 0.2;
    transform: rotate(-11deg);
    z-index: 5;
}

.particle-4 {
    position: absolute;
    top: 64px;
    right: 470px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.2;
    transform: rotate(26deg);
    z-index: 5;
}

.particle-3 {
    position: absolute;
    top: 94px;
    right: 670px;
    width: 9px;
    height: 9px;
    border-radius: 2px;
    background-color: #323235;
    opacity: 0.4;
    transform: rotate(-17deg);
    z-index: 5;
}

.particle-2 {
    position: absolute;
    top: 200px;
    right: 640px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: #323235;
    opacity: 0.3;
    transform: rotate(20deg);
    z-index: 5;
}

.particle-1 {
    position: absolute;
    top: 90px;
    right: 159px;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: #323235;
    opacity: 0.4;
    transform: rotate(51deg);
    z-index: 1;
}

.container {
    margin: 94px 0px 0px 255px;
    display: flex;
    width: 990px;
    height: 440px;
    background: rgba(174, 208, 209, 0.1);
    border-radius: 38px;
    transition: transform .3s ease;
}

.container:hover {
    transform: scale(1.08);
    background-color: #F6F6F6;
    cursor: pointer;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
}

.left-container {
    margin: 95px 0px 68px 61px;
    display: block;
    float: left;
    background: rgba(174, 208, 209, 0.01);

}

.left-container button:hover {
    cursor: pointer;
}

#logo {
    width: 32px;
    height: 32px;
    margin: 0px 0px 7px 7px;
    background: rgba(174, 208, 209, 0.01);
}


.left-container h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    background: rgba(174, 208, 209, 0.01);
}

.left-container h5 {
    margin: 6px 0px 8px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #649A95;
    background: rgba(174, 208, 209, 0.01);
}

.left-container h4 {
    width: 418px;
    height: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.065em;
    color: #649A95;
    background: rgba(174, 208, 209, 0.01);
}

.arrow-buttons {
    display: flex;
    margin-top: 40px;
    padding: 15px 0px 0px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #649A95;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 263px;
    height: 48px;
}

.arrow-button {
    margin: 5.45px 0px 0px 30px;

    /* Transparent background */
    background-color: transparent;

    /* Size */
    height: 8px;
    width: 8px;
}

.arrow-button--r {
    border-right: 3px solid #649A95;
    border-top: 3px solid #649A95;
    transform: translateX(-25%) rotate(45deg);
}

.right-container-1 {
    margin: 30px 0px 0px 30px;
    width: 436px;
    height: 372px;
    background: rgba(174, 208, 209, 0.01);
    pointer-events: none;
}

.right-container-1 #img1 {
    margin: 160px 0px -150px 20px;
    width: 400px;
    height: 204.7px;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    z-index: 1;
    pointer-events: none;
}

.right-container-1 #img2 {
    margin: -165px 0px -85px 42px;
    width: 377px;
    height: 227px;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    z-index: 1;
    pointer-events: none;
}

.right-container-1 #img3 {
    margin: -200px 0px 0px 69px;
    width: 350px;
    height: 217.25px;
    z-index: 1;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    pointer-events: none;
}

.right-container-2 {
    margin: 30px 0px 0px 30px;
    width: 436px;
    height: 372px;
    background: rgba(174, 208, 209, 0.01);
    pointer-events: none;
}

.right-container-2 #img4 {
    margin: 160px 0px -150px 20px;
    width: 400px;
    height: 204.7px;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    z-index: 1;
    pointer-events: none;
}

.right-container-2 #img5 {
    margin: -165px 0px -85px 42px;
    width: 377px;
    height: 227px;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    z-index: 1;
    pointer-events: none;
}

.right-container-2 #img6 {
    margin: -200px 0px 0px 69px;
    width: 350px;
    height: 217.25px;
    z-index: 1;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    pointer-events: none;
}

.right-container-3 {
    margin: 30px 0px 0px 30px;
    width: 436px;
    height: 372px;
    background: rgba(174, 208, 209, 0.01);
    pointer-events: none;
}

.right-container-3 #img7 {
    margin: 160px 0px -150px 20px;
    width: 400px;
    height: 204.7px;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    z-index: 1;
    pointer-events: none;
}

.right-container-3 #img8 {
    margin: -165px 0px -85px 42px;
    width: 377px;
    height: 227px;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    z-index: 1;
    pointer-events: none;
}

.right-container-3 #img9 {
    margin: -200px 0px 0px 69px;
    width: 350px;
    height: 217.25px;
    z-index: 1;
    box-shadow: 4px 4px 250px 20px rgba(0, 0, 0, 0.09);
    border-radius: 35px 0px 0px 0px;
    pointer-events: none;
}

.items {
    display: block;
    width: 1496px;
    height: 196px;
    background: rgba(174, 208, 209, 0.08);
}

.icons {
    display: flex;
    width: 173.17px;
    height: 40.83px;
    padding-top: 50px;
    margin: 80px 600.83px 0px 690px;
    background: rgba(174, 208, 209, 0.008);
}

.icons a img{
    width: 34px;
    height: 34px;
    margin: 4px;
}

.items p {
    width: 365px;
    height: 31px;
    padding-bottom: 0px;
    margin: 38.17px 0px 20px 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 219.02%;
    letter-spacing: 0.0202em;
    color: #000000;
    background: rgba(174, 208, 209, 0.008);
}